<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<!--<configuration>
  <connectionStrings>
    <add name="cnPc" connectionString="server=pc.hstc.cn;database=dhd2015112026;uid=2015112026;pwd=19950522;"
      providerName="System.Data.SqlClient" />
    <add name="dhd2015112026ConnectionString" connectionString="Data Source=pc.hstc.cn;Initial Catalog=dhd2015112026;User ID=2015112026;Password=19950522"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      --><!--<httpRuntime targetFramework="4.5" />--><!--
      
    </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
  </system.serviceModel>


</configuration>-->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="cnPc" connectionString="server=pc.hstc.cn;database=dhd2015112026;uid=2015112026;pwd=19950522;"
     providerName="System.Data.SqlClient" />
    <add name="dhd2015112026ConnectionString" connectionString="Data Source=pc.hstc.cn;Initial Catalog=dhd2015112026;User ID=2015112026;Password=19950522"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
